!!!
%html{:lang => "en"}
  %head 
    %meta{:charset => "uft-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title FreeDay 
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,300,600,700', :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/bootstrap/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/bootstrap/css/bootstrap-theme.css", :rel => "stylesheet", :type => "text/css"}
    
    %link{:href => "/stylesheets/styles.css", :type => "text/css", :rel => "stylesheet"}
    %script{:type => "text/javascript", :src => "/bootstrap/js/bootstrap.js"}
    %script{:type => "text/javascript", :src => "/javascripts/scripts.js"}
  %body
    .container
      
      / ++++ this begins the splash page view
      %div{:class => "splash_view noshow"}
        %row
          %header.col-md-24
            %h1 FreeDay
            %h2 When Are You Free?

        / main div with 2 big buttons
        %main
          %nav
            %row  
              .col-md-12
                %button.create Create an Event
              .col-md-12
                %button.join Join an Event
      / ++++ this ends the splash page view

      / ++++ this begins the create-an-event view
      %div{:class => "create_event_view noshow"}
        %row
          %header.col-md-24
            %h1 FreeDay
            %h2 Propose an event
        
        %nav
          %row
            .col-md-24
              %ul
                %li Home
                %li Create an event
                %li Join an event
                %li About
        %main
          %form 
            %row
              %div{:class => "col-md-12 col-md-offset-6"}
                %label 
                  %span Event Name: 
                  %input#event_name{:type => "text", :name => "name", :placeholder => "Brunch with the Girls"}
            %row 
              %div{:class => "col-md-12 col-md-offset-6"}
                %label 
                  %span Choose Dates:  
                  %input#event_date{:type => "datetime-local", :name => "date"}
            %row
              .col-md-8
               
                %h2 Invite People: 
                %ul  
                  %li
                    %input{:type => "checkbox"}
                    %span Fred!
                  %li 
                    %input{:type => "checkbox"}
                    %span George! 
                  %li 
                    %input{:type => "checkbox"}
                    %span Ron! 
              .col-md-8
                %button.create_person New Invitee 
              %div{:class => "col-md-8"}
                %h3 Somebody Else You Want to Invite?
                %form.new_person
                  %form
                    %label  
                      %span Name: 
                      %input#new_person_name{:type => "text", :name => "name"} 
                    %label  
                      %span Email:  
                      %input#new_person_email{:type => "email", :name => "email"} 
                    %button.create_a_person Submit 

      / ++++ this ends the create-an-event view

      / ++++ this begins the events view

      .events_view
        %row
          %header.col-md-24
            %h1 FreeDay
            %h2 Choose an event to view
        
        %nav
          %row
            .col-md-24
              %ul
                %li Home
                %li Create an event
                %li Join an event
                %li About
        
        %main
          %row
            .col-md-16
              %p big picture of talking bear
          %nav
            %row
              .col-md-8
                %p list of clickable links to display individual event

      / ++++ this ends the events view

      / ++++ this footer appears on every view
      %row 
        %footer.col-md-24
          %nav
            %ul
              %li Home
              %li About FreeDay
              %li Contact

  