    <!-- +++ begin events view -->

    <div class="events_view noshow">

      <div class="row header">
        <!-- page rubric -->
        <div class="col-md-8">
          <h2>free<span>Day</span></h2>
          <h3>Propose an event</h3>
        </div>
    
        <!-- top nav -->
        <div class="col-md-16 top_nav">
          <nav>
            <ul>
              <li>Home</li>
              <li>Create an event</li>
              <li>Join an event</li>
              <li>About</li>
            </ul>
          </nav>
        </div>
      </div>


      <main>
        <div class="row">
          <div class="col-md-16">
            <p>big picture of talking bear</p>
          </div>

          <div class="col-md-8">
            <nav>
              <p>list of clickable links to display individual events</p>
            </nav>
          </div>

        </div>


      </main>

    </div>

    <!-- +++ end events view -->

