<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>freeDay</title>
  <!-- first include jQuery --> 
  <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
  <!-- then include jQuery UI w/ the DatesPicker module included (knocking, wood) -->
  <script src='/javascripts/jquery-ui.min.js'></script>
  <!-- then include jQuery UI MultiDatesPicker --> 
  <script src='/javascripts/jquery-ui.multidatespicker.js'></script>


  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
  <!-- our CSS -->
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="./javascripts/scripts.js"></script>
</head>

<body>

<!-- a message for heidi -->
  <div class="container">


    <!-- +++++ this begins the splash page view -->
    <!-- <div class="page-wrap"> -->


    <div class="splash_view">
      <div class="row">
        <div class="col-md-24">
          <h1 class="center">free<span>Day</span></h1>
          <h3 class="center">What day are you free?</h3>
        </div>
      </div>

      <nav>
        <div class="row">
          <div class="col-md-4 col-md-offset-8" id="create_button">
            <a href="#" id="create_link">
              <img src="./images/create_icon.png" onMouseOver="createMouseRollover(this)" onMouseOut="createMouseOut(this)" class= "center-block">
              <h5 class="center">Create an Event</h5>
            </a>
          </div>

          <div class="col-md-4" id="participate_button">
            <a href="#" id="join_link">
              <img src="./images/join_icon.png" onMouseOver="joinMouseRollover(this)" onMouseOut="joinMouseOut(this)" class= "center-block">
              <h5 class="center">Join an Event</h5>
            </a>
<!--             <select name="which_event" id="which_event_dropdown" class="form-control newFormSelect input-sm">
              <option selected="selected">Select which event</option>
              <option value="event one">Mariachi</option>
            </select> -->          
          </div>
        </div>
      </nav>

    </div>

    <!-- +++++ end of splash_view -->


    <!-- +++ begin create an event view -->

    <div class="create_event_view noshow">


      <div class="row header">
        <!-- page rubric -->
        <div class="col-md-8">
          <h2>free<span>Day</span></h2>
          <h3>Create an event</h3>
        </div>
    
        <!-- top nav -->
        <div class="col-md-16 top_nav">
          <nav>
            <ul>
              <li id="nav_home">Home</li>
              <li id="nav_create">Create an event</li>
              <li id="nav_join">Join an event</li>
              <li id="nav_about">About freeDay</li>
              <li id="nav_contact">Contact</li>
            </ul>
          </nav>
        </div>
      </div>

      
      <!-- <div class="row"> -->
        <!-- event name and date -->
        <!-- <div class="col-md-8 col-md-offset-4"> -->
          <form>
            <p><label>Organizer name:</label>
            <input id="creator_name" name="name" type="text" placeholder="Your Name"></p>
            <p><label>Event Name:</label>
            <input id="event_name" name="name" type="text" placeholder="Brunch with the Girls"></p>
            <p><label>Zip Code:</label>
            <input id="event_zip" name="zipcode" type="text" placeholder="Zip Code"></p>
          <!-- datePicker -->
          <p><label>Pick Dates:</label>
          <input type="text" id="dates" name="from"></p>
          </form>

          
        <!-- </div> -->

        <!-- <div class="col-md-12"> -->


      <!-- <div class="row"> -->
        <!-- invite peopls and add people -->
        <!-- <div class="col-md-12"> -->
          <h3>Invite Friends:</h3>
          <div id="peopleDropDown">
          </div>
        <!-- </div> -->
        <!-- <div class="col-md-12"> -->
          <h3>Add Invitees:</h3>
          <form id="new_person">
            <label>Name:</label>
            <input id="new_person_name" type="text" name="name">
            <br>
            <button class="add_invitee_button">Add Friend</button>
            <button class="create_button">Submit</button>
          </form>
        <!-- </div> -->
      <!-- </div> -->

    </div>

    <!-- +++ end create an event view -->



    <!-- +++ begin individual event view -->

    <div class="dashboard_view noshow">
      <div class="row header">
        <!-- page rubric -->
        <div class="col-md-8">
          <h2>free<span>Day</span></h2>
          <h3>Marx Brothers Reunion Dashboard</h3>
        </div>
    
        <!-- top nav -->
        <div class="col-md-16 top_nav">
          <nav>
            <ul>
              <li id="nav_home">Home</li>
              <li id="nav_create">Create an event</li>
              <li id="nav_join">Join an event</li>
              <li id="nav_about">About freeDay</li>
              <li id="nav_contact">Contact</li>
            </ul>
          </nav>
        </div>
      </div>

      <main>
        <div class="row"> 
          <div class="col-md-3" id="invitee_list">
            <h4>Who's Invited</h4>
            <ul></ul>
          </div>
          <div class="col-md-11" id="activity_list">
            <h4>Possible Activities</h4>
            <div id="activityList"></div>
          </div>
          <div class="col-md-8">
            <ul id="event_list"></ul>
          </div>
        </div>
      </main>
    </div>  

<!-- +++ end individual event view -->

<div class="join_view noshow" id="join_link">
  <div class="row header">
    <div class="col-md-8">
      <h2>free<span>Day</span></h2>
      <h3>Invitees: Join Your Event Here</h3>
    </div>
  </div>

    <div class="col-md-16 top_nav">
      <nav>
        <ul>
              <li id="nav_home">Home</li>
              <li id="nav_create">Create an event</li>
              <li id="nav_join">Join an event</li>
              <li id="nav_about">About freeDay</li>
              <li id="nav_contact">Contact</li>
        </ul>
      </nav>
    </div>
    <section class="join_or_decline_page noshow">
    <div class="col-md-11">
      <h2>Organizer name: Groucho Marx</h2>
      <h3>Event name: Marx Brothers Reunion</h3>
    </div>

    <div class="join_decline_buttons">
    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Yes, I'm going!</button>
    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">I'm sorry I cannot attend!</button>
  </div>
</section>
 <!-- +++ end join or decline invitation view -->
  <section class="decline_join_page show">
    <div class="col-md-11">
      <h2>Oh well, we'll miss you!</h2>
      <a href="/create">Create An Event</a>
      <a href="/splash">Home</a>
    </div>
    </section>
    <!-- +++ end decline to join event page -->
    <section class="about noshow">
    <div class="col-md-11">
      <h2>About FreeDay</h2>
      <p></p>
    </div>
    </section>

    <!-- footer -->
<!--     <footer>
        <div class="row">
        <div class="col-md-24">
          <nav>
            <ul>
              <li>Home</li>
              <li>About freeDay</li>
              <li>Contact</li>
            </ul>
          </nav>
        </div>
    </div>
    </footer>
 -->


  <!-- end of container -->
</body>

</html>
