!!!
%html{:lang => "en"}
  %head 
    %meta{:charset => "uft-8"}
    %title FreeDay 
    %script{:src => "https://code.jquery.com/jquery-2.1.1.min.js"}

    %link{:href => "/bootstrap/css/bootstrap.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "/bootstrap/css/bootstrap-theme.css", :rel => "stylesheet", :type => "text/css"}

    %link{:href => "/stylesheet/styles.css", :type => "text/css", :rel => "stylesheet"}
  %body
    %header
      %h1 FreeDay
      %h2 When Are You Free?
    %main
      %nav
        %button.create Create
        %button.join Join 
    %script{:type => "text/javascript", :src => "/javascripts/scripts.js"}
  