<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>freeDay</title>
  <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
  <!-- bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
  <!-- our CSS -->
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="./javascripts/scripts.js"></script>
</head>

<body>

  <div class="container">

    <!-- the splash page is in the nearby index_test.erb right now -->


    <!-- begin create an event view -->
    <section class="create_event_view">
      <div class="row">
        <div class="col-md-8">
          <h2>free<span>Day</span></h2>
          <h3>Propose an event</h3>
        </div>

        <div class="col-md-16">
          <nav>
            <ul>
              <li>Home</li>
              <li>Create an event</li>
              <li>Join an event</li>
              <li>About</li>
            </ul>
          </nav>
        </div>
      </div>



      <div class="row">
        <div class="col-md-8 col-md-offset-4">
          <form>
            <label>Event Name:</label>
            <input id="event_name" name="name" type="text" placeholder="Brunch with the Girls">
          </form>
        </div>

        <div class="col-md-12">
          <form>
            <label>Choose Dates:</label>
            <input id="event_date" name="date" type="datetime-local">
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <h2>Invite People:</h2>
          <ul id="known_people">
          </ul>
        </div>
        <div class="col-md-8">
          <h3>Somebody Else?</h3>
          <form class="new_person">
            <label>Name:</label>
            <input id="new_person_name" type="text" name="name">
            <button class="create_button">Submit</button>
          </form>
        </div>
      </div>


    </section>

    <!-- end create an event view -->

    <!-- begin events view -->

    <div class="events_view noshow">
      <div class="row">
        <header class="col-md-24">
          <h2>free<span>Day</span></h2>
          <h3>Choose an event</h3>
        </header>
      </div>
      <div class="row">
        <div class="col-md-24">
          <nav>
            <ul>
              <li>Home</li>
              <li>Create an event</li>
              <li>Join an event</li>
              <li>About</li>
            </ul>
          </nav>
        </div>
      </div>
      <main>
        <div class="row">
          <div class="col-md-16">
            <p>big picture of talking bear</p>
          </div>

          <div class="col-md-8">
            <nav>
              <p>list of clickable links to display individual events</p>
            </nav>
          </div>

        </div>


      </main>

    </div>

    <!-- end events view -->

    <!-- begin individual event view -->

    <div class="event_view noshow">
      <div class="row">
        <header class="col-md-24">
          <h2>free<span>Day</span></h2>
          <h3>About this event</h3>
        </header>
      </div>
      <div class="row">
        <div class="col-md-24">
          <nav>
            <ul>
              <li>Home</li>
              <li>Create an event</li>
              <li>Join an event</li>
              <li>About</li>
            </ul>
          </nav>
        </div>
      </div>

      <main>
        <div class="row"> 
          <div class="col-md-3">
            <h4>Who's Invited</h4>
            <p>list of invitees with indic of check-in</p>
          </div>
          <div class="col-md-11">
            <h4>Who's Invited</h4>
            <p>list of invitees with indic of check-in</p>
          </div>
          <div class="col-md-2">
            <h4>Who's Invited</h4>
            <p>list of invitees with indic of check-in</p>
          </div>
          <div class="col-md-8">
            <p>list of clickable events</p>
          </div>
        </div>
      </main>


    </div>  
    <!-- end individual event view -->

    


    <footer>
      <div class="row">
        <div class="col-md-24">
          <nav>
            <ul>
              <li>Home</li>
              <li>About freeDay</li>
              <li>Contact</li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>


  </div>

  <!-- end of container -->
</body>
</html>

